.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 70px;
  }
  

  .nav-links {
    display: flex;
    gap: 30px;
    }

    a {
      text-decoration: none;
      color: #111111;
      font-weight: 500;
      }

      &:hover {
        color: #4A4FF2;
      }
    
  



 
 